* {
    box-sizing: border-box;
}

.navbar--section
{
    display:flex;
    background-color: #F55A5A;
    color:white;
    justify-content: center;
    padding: 20px 1px;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    margin-bottom:40px;

}



.travel-dates{
    font-weight: 700;
    font-size: small;
}

.travel-description{
    font-size: medium;
}

.travel-item-content{
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    
    
}

.travel-image{
    height:auto;
    width:300px;
    border-radius:5px;
    margin: 20px;
  
}

.travel-info
{
    display: flex;
    flex-direction: column;
    margin: 10px;

}


.item-maplink
{
    margin-left: 20px;
    font-size:x-small;
    
}

.item-location-maplink
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    
}

.item-location{
    margin-right: 5px;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: small;
}

.item-title
{
    font-weight:700;
    margin-top:10px;
}

.travel-dates{
    margin-top: 5px;

}

